<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="John Wang" />


    <script src="http://code.jquery.com/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/js/prettify.js"></script>


   <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
   <link rel="stylesheet" href="/css/prettify.css" type="text/css" />
   <style type="text/css">
     body {
       padding-top: 60px;
     }
   </style>

</head>

<body onload="prettyPrint()">

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.html">John Wang</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a target="_blank" href="http://github.com/javasoze">GitHub</a></li>
            <li><a target="_blank" href="http://www.linkedin.com/in/javasoze">LinkedIn</a></li>
            <li><a  target="_blank" href="http://twitter.com/javasoze">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>


<div class="container-fluid">
    <div class="sidebar">
	<div class="well">
		<img src="http://www.gravatar.com/avatar/64612244c5673597451cabf55780003b.png"/><br/>
	    <p>My name is <b>John Wang.</b></p>

	    <p>I am a software engineer working on the next generation <a href="http://www.twitter.com">Twitter</a> search infrastructure.</p>

		<p>I am an avid open source developer, follow me on Github: <a href="http://www.github.com/javasoze">http://www.github.com/javasoze</a></p>

	    <p>Follow me on twitter: <a href="http://twitter.com/javasoze">@javasoze</a></p>
		<div>
			<h3>Blog Posts</h3>
		    <ul>
		      {% for post in site.posts %}
		        <li><span>{{ post.date | date_to_string }}</span> &raquo; <br/><a href="{{ post.url }}">{{ post.title }}</a></li>
		      {% endfor %}
		    </ul>
		</div>
	</div>
	</div>
    <div class="content">
        {{content}}


        <footer>
          	<p>&copy; javsoze.com 2012</p>
			<p>
				<a name="fb_share"></a> 
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
				        type="text/javascript">
				</script>
			</p>
			<p>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="javasoze">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
			<p>
				<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/Share" data-counter="right"></script>
			</p>
			</p>
        </footer>
      </div>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26993984-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
